.dummy{
    color: #888788;
    color: #19191c;
    color: #222124;
    color: #333136;
    color: #9f8d58;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.377);
}



h2{
    font-family: 'Electrolize', Arial, Helvetica, sans-serif;
    color: #d8c079;
}

p{
    line-height: 1.6;
}

article{
    padding: 160px 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.categories_section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #333136;
    border-radius: 15px;
    width: 100%;
    padding: 40px 80px;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}


th, td {
    text-align: center;
    padding: 10px;
    width: 25%;
}

td{
    
    padding: 20px;
}

td span{
    font-weight: bold;
}

th {
    font-weight: bold;
}

th {
    font-weight: bold;
    background-color: #19191c;
  }
  
  tr:nth-child(odd) {
    background-color: #222124;
  }
  
  tr:nth-child(even) {
    background-color: #9f8d58;
  }


  @media (max-width: 768px){

    .categories_section {
        padding: 40px 5%;
    }

    table td, table th{
        font-size: 0.8rem;
    }
}